<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

		
	<!-- 客户端装机量信息 -->
	<bean id="ClientZjlTJDAO" class="com.ruicai.basis.tj.dao.impl.ClientZjlTJDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory3" />
		</property>
	</bean>

</beans>